* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1 {
    background-color: rgb(204, 79, 230);
    height: 200px;
    width: 90%;
    margin: 20px auto;
}

.container2 {
    background-color: rgb(236, 187, 95);
    height: 600px;
    width: 90%;
    margin: 20px auto;
}

